.charts-toolbar {
    background-color: #221F1F;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    min-height: 30px;
}

.charts-toolbar-row {
    color: whitesmoke;
    position: fixed;
    align-self: center;
    font-family: inherit;
    font-size: 13px;
    height: 30px;
}

.charts-user {
    color: whitesmoke;
    position: fixed;
    right: 1%;
    font-family: inherit;
    font-size: 13px;
    height: 30px;
}

.d-charts {
    margin: 7.5%;
}

.p-profile-counts {
    font-size: 25px;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main {
    text-align: center;
}

.d-canvas {
    display: block;
    height: 470px;
    width: 950px;
    margin: auto;
}

.label-1 {
    text-align: center;
}

.row {
    text-align: center;
    padding: 3.5%;
}

.next-b {
    margin-top: 20px;
}

.home-link {
    margin-left: 40%;
    text-decoration: none;
    color: aliceblue;
  }