.charts-toolbar {
    background-color: #221F1F;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    min-height: 30px;
}

.charts-toolbar-row {
    color: whitesmoke;
    position: fixed;
    align-self: center;
    font-family: inherit;
    font-size: 13px;
    height: 30px;
}

.charts-user {
    color: whitesmoke;
    position: fixed;
    right: 1%;
    font-family: inherit;
    font-size: 13px;
    height: 30px;
}

.d-charts {
    margin: 7.5%;
}

.p-profile-counts {
    font-size: 25px;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main {
    margin: 7%;
}

.row-1 {
    height: 250px;
}

.row-2 {
    height: 250px;
}

.column-1 {
    width: 32%;
    height: 270px;
    float: left;
    margin: 5px;
}

.canvas {
    display: block;
    width: 458px;
    height: 229px;
    margin: 5%;
}
