.charts-toolbar {
    background-color: #221F1F;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    min-height: 30px;
}

.charts-toolbar-row {
    color: whitesmoke;
    position: fixed;
    align-self: center;
    font-family: inherit;
    font-size: 13px;
    height: 30px;
}

.charts-user {
    color: whitesmoke;
    position: fixed;
    right: 1%;
    font-family: inherit;
    font-size: 13px;
    height: 30px;
}

.main {
    margin: 10%;
}

.row {
    margin: 7.5%;
}

.column {
    float: left;
    width: 50%;
    margin-right: 10%;
}

.column-sentiments {
    float: left;
    width: 40%;
}

.column-1 {
    float: left;
    width: 100%;
    height: 33%;
}

.column-2 {
    float: left;
    width: 30%;
}

.h1-p {
    margin-top: 10px;
}

.sentiment-text {
    color: darkslategrey;
    font-family: sans-serif;
}

.mat-icons {
    margin-bottom: 25px;
    margin-right: 25px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 55px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .twitter-tweet {
    margin: auto;
  }

  blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .home-link {
    margin-left: 40%;
    text-decoration: none;
    color: aliceblue;
  }