<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div *ngIf="percentagePositive > 0 || percentageNegative > 0 || percentageNeutral > 0; else spinner" class="main">
  <mat-toolbar class="charts-toolbar">
    <mat-toolbar-row class="charts-toolbar-row">
      <span class="charts-text">Tweets to Charts</span>
      <a href="/" class="home-link">Home</a>
      <span class="charts-user">@{{username}}</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="row">
    <div class="column">
      <h2 class="sentiment-text">Last Mention of @{{username}}</h2><br><br>
      <div *ngIf="isDataAvailable" class="oembed-tweet" [innerHTML]="oembedHtml"></div>      
    </div>
    <div 
        class="column-sentiments">
      <h2 class="sentiment-text">Last Sentiments of Mentions</h2><br><br>
      <div class="column-1">
        <div class="column-2">
          <i class="mat-icons">sentiment_very_satisfied</i>
        </div>
        <div class="column">
          <h1 class="h1-p">%{{percentagePositive}}</h1>
        </div>
        <br>
      </div>
      <div class="column-1">
        <div class="column-2">
          <i class="mat-icons">sentiment_satisfied</i>
        </div>
        <div class="column">
          <h1 class="h1-p">%{{percentageNeutral}}</h1>
        </div>
        <br>
      </div>
      <div class="column-1">
        <div class="column-2">
          <i class="mat-icons">sentiment_very_dissatisfied</i>
        </div>
        <div class="column">
          <h1 class="h1-p">%{{percentageNegative}}</h1>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
<ng-template #spinner>
  <div class="loading-indicator">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>